nav.sidenav{
    position: fixed;
    height: 100%;
    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-color: var(--yellow);
    box-shadow: -10px 0px 15px #000;
}

nav.sidenav ul{
 height: 40vh;
 align-items: flex-start;
 list-style: none;
 text-decoration: none;
 color: var(--blackish);
}

nav.sidenav ul li{
    display: flex;
    flex-direction: row;
    margin: 18px 0;
}

nav.sidenav ul li a{
    font-weight: 800;
    text-decoration: none;
}

nav.sidenav>footer>a{
    color: var(--blackish);
    text-decoration: none;
}

a:visited{
    color: inherit;
}