:root{
    --yellow: #fd0;
    --yellow-darker: rgb(236, 206, 5);
    --blackish: #202020;
    --lightgraybg: #f3f3f3;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--blackish);
    background: var(--lightgraybg);
}

body, input, button, textarea {
    font: 600 18px sans-serif;
    color: var(--blackish);
}
